.inputCon {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60px;
    width: 100%;
}

input {
    line-height: 40px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    border-bottom: 1px solid #9D9D9D;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1111;
    background: transparent;
}

.inputLabel {
    font-size: 1.6em;
    position: absolute;
    color: #9D9D9D;
    padding: 0 10px;
    transition: .2s ease;
    pointer-events: none;
}

input:focus + .inputLabel,
input:valid + .inputLabel {
    transform: translate(-10px, -20px) scale(0.88);
    color: #000; 
    font-size: 16px;
}
