@import "tailwindcss";

:root {
  font-family: sans-serif, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #484848;
  transition: .3s ease;
  font-weight: 700;
}

a:hover {
  color: #7a9595
}

a:active {
  color: #666666;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input {
  cursor: pointer;
}

body {
  background-color: #f9f9f9;
}

img {
  border-radius: 12px;
}